body {
    margin: 0;
    font-family: 'Segoe UI';
    display: flex;
    background: #0f172a;
    color: white;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #020617;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    margin: 5px 0;
    background: #1e293b;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar li:hover {
    background: #38bdf8;
}

/* CONTENIDO */
.main {
    flex: 1;
    padding: 40px;
}

/* CARD */
.card {
    background: #020617;
    padding: 30px;
    border-radius: 15px;
    max-width: 500px;
}

/* BOTONES */
.btn {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background: #38bdf8;
    color: white;
    text-decoration: none;
}

.upload {
    background: #22c55e;
}

/* LISTA */
.archivos li {
    background: #1e293b;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}
