body {
    font-family: 'Segoe UI';
    background: #0f172a;
    color: white;
}

.container {
    width: 90%;
    margin: auto;
}

.perfil {
    text-align: center;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.buttons a, .buttons button {
    margin: 5px;
    padding: 8px 10px;
    background: #38bdf8;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
