body {
    margin: 0;
    font-family: 'Segoe UI';
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* CENTRADO TOTAL */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD PRINCIPAL */
.card {
    background: #020617;
    padding: 40px;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
    animation: fadeIn 1s ease;
}

/* TITULOS */
h1 {
    margin-bottom: 10px;
}

p {
    opacity: 0.8;
}

/* BOTONES */
.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background: #38bdf8;
    color: white;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.upload {
    background: #22c55e;
}

/* LISTA */
.archivos {
    margin-top: 20px;
    text-align: left;
}

.archivos ul {
    padding: 0;
    list-style: none;
}

.archivos li {
    background: #1e293b;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

/* ANIMACION */
@keyframes fadeIn {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}
